################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CSharp/v15
/CSharp/bin/Debug
/CSharp/obj/Debug
/packages/NUnit3TestAdapter.3.15.1
/packages/NUnit.3.12.0
/Autofac/bin/Debug
/Autofac/obj/Debug
/packages/Autofac.4.9.4/lib
/packages/Autofac.4.9.4/.signature.p7s
/packages/Autofac.4.9.4/Autofac.4.9.4.nupkg
/packages/Microsoft.CrmSdk.CoreAssemblies.9.0.2.9/lib/net462
/packages/Microsoft.CrmSdk.CoreAssemblies.9.0.2.9
/packages/Microsoft.CrmSdk.Deployment.9.0.2.9/lib/net462
/packages/Microsoft.CrmSdk.Workflow.9.0.2.9/lib/net462
/packages/Microsoft.CrmSdk.XrmTooling.CoreAssembly.9.1.0.21/lib/net462
/packages/Microsoft.IdentityModel.Clients.ActiveDirectory.3.19.8/lib
/packages/Newtonsoft.Json.6.0.8/lib
/packages
/C Sharp Samples/.vs
/.vs/CSharp
